name: 'Run bazel build'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  # This line defines a job with the ID `check-links` that is stored within the `jobs` key.
  bazel_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v1.0.1

      - name: bazel build
        run: bazel build //... -k
